<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Venta pasajes nacional</title>
</head>

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Venta pasajes nacional</title>
</head>

<body>
    <div>
        <h1>Detalles del vuelo</h1>
        <p>Numero del Vuelo: </p>
        <p th:text="${vueloSeleccionado.get().nroVuelo}"></p>
        <p>Ciudad Origen: </p>
        <p th:text="${vueloSeleccionado.get().ciudadOrigen.nombre}"></p>
        <p>Ciudad Destino: </p>
        <p th:text="${vueloSeleccionado.get().ciudadDestino.nombre}"></p>

        <h2>Precio</h2>
        
        <p th:text="${vueloSeleccionado.get().precioBruto}"></p>
    </div>
</body>

</html>
